:root {
    /* Colors */
    --white: #FFF;
    --grey-900: #4B556A;
    --grey-500: #6E8098;
    --grey-400: #9DAEC2;
    --grey-200: #ECF2F8;

    /* spacing */
    --spacing-0: 0px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-600: 48px;
    --spacing-700: 56px;
    --spacing-800: 64px;
    --spacing-1300: 104px;
    --spacing-2000: 160px;

    /* Typography */
    --preset-1-size: 2rem;
    --preset-2-3-size: 1.3rem;

    --preset-1-lh: 1.3;
    --preset-2-3-lh: 1.4;

    --preset-1-ls: 0.25px;
    --preset-2-ls: 12%;
    --preset-3-ls: 25%;

    /* font weight */
    --bold: 700;
    --medium: 500;
}

/* ================ General styles ================ */
html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    padding: 0 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-2000);
    align-items: center;
    font-family: 'Manrope', sans-serif;
    background-color: var(--white);
}

/* ================ Main component ================ */
.component {
    max-width: 732px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.05);
}

/* Component image */
.component__img-container {
    min-width: 40%;
/*    background-image: url("../img/drawers.jpg");*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.component__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 1px;
}

/* Component info */
.component__info-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.component__info {
    padding: var(--spacing-500) var(--spacing-500) 0 var(--spacing-500);
}

.component__info-text {
    margin: var(--spacing-300) 0;
}

/* Profile */
.component__info-profile {
    padding: 0 var(--spacing-500) var(--spacing-500) var(--spacing-500);
    display: flex;
    align-items: center;
    gap: var(--spacing-200);
}

.component__info-profile-img {
    width: 40px;
    border-radius: 50%;
}

.component__share {
    margin-left: auto;
    position: relative;
}

.component__btn-share {
    position: relative;
    z-index: 10;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-200);
}

.component__btn-share svg {
    color: var(--grey-500);
}

.component__btn-share:hover, .component__btn-share.clicked {
    background-color: var(--grey-500);
    cursor: pointer;
}

.component__btn-share:hover svg, .component__btn-share.clicked svg {
    color: var(--grey-200);
}

/* ================ Text presets ================ */
.text-preset-1 {
    font-size: var(--preset-1-size);
    font-weight: var(--bold);
    line-height: var(--preset-1-lh);
    letter-spacing: var(--preset-1-ls);
    color: var(--grey-900);
}

.text-preset-2 {
    font-size: var(--preset-2-3-size);
    line-height: var(--preset-2-3-lh);
    letter-spacing: var(--preset-2-ls);
    color: var(--grey-900);
}

.text-preset-3 {
    font-size: var(--preset-2-3-size);
    line-height: var(--preset-2-3-lh);
    letter-spacing: var(--preset-3-ls);
    color: var(--grey-400);
}

.bold {
    font-weight: var(--bold);
}

.medium {
    font-weight: var(--medium);
}

/* Social links */
.component__social {
    position: absolute;
    display: flex;
    align-items: center;
    gap: var(--spacing-200);
    background-color: var(--grey-900);
    transition: opacity 0.3s;
    opacity: 0;
}

.component__social.mobile {
    display: none;
}

.component__social.desktop {
    padding: var(--spacing-200) var(--spacing-400);
    border-radius: 10px;
    box-shadow:
            0 6px 16px rgba(0, 0, 0, 0.1),
            0 3px 6px rgba(0, 0, 0, 0.05);
    transform: translate(calc(-50% + var(--spacing-200)), calc(-100% - var(--spacing-400)));
}

.component__social.desktop::before {
    content: '';
    width: 32px;
    height: 16px;
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: var(--grey-900);
    transform: translate(-50%, 100%);
    clip-path: polygon(0 0, 50% 100%, 100% 0);
}

.component__social-links {
    display: flex;
    align-items: center;
    gap: var(--spacing-200);
}

.component__social-links img {
    max-width: 20px;
}

@media (max-width: 48rem) {
    html {
        font-size: 50%;
    }
    .component__info, .component__info-profile {
        padding-left: var(--spacing-400);
    }
}

@media (max-width: 33rem) {
    .component {
        flex-direction: column;
    }

    .component__info {
        padding: var(--spacing-400) var(--spacing-400) 0 var(--spacing-400);
    }

    .component__info-profile {
        padding: var(--spacing-400);
    }

    .component__img-container {
        min-width: 100%;
        height: 200px;
    }

    .component__social.desktop {
        display: none;
    }

    .component__social.mobile {
        display: flex;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 104px;
        padding: var(--spacing-400);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

/* Styles for interactive social button */
.component__social.hidden {
    display: none;
}

.component__btn-share:hover, .component__btn-share.clicked {
    background-color: var(--grey-500);
    cursor: pointer;
}

.component__btn-share:hover svg, .component__btn-share.clicked svg {
    color: var(--grey-200);
}

.component__social.fade-in {
    opacity: 1;
}